:root{
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-cinza: #727272;
    --cor-cinzaclaro: #A8A8A8;

}

@import url('https://fonts.googleapis.com/css2? family= Bai+Jamjuree:wght@200;300;400;500;600;700 & display=swap');

/*Pagina inicial*/
body {
    background-color: var(--cor-preto);
}

/*svg*/
.imgcentral {
    position: relative;
    left: 370px;
    top: 180px;
    width: 500px;
    height: 500px;
    
}

/*Titulos*/

.tituloprincipal {
    display: flow-root;
    position: relative;
    left: 45%;
    bottom: 220px;
    width: 470px;
}

.tituloprincipal .nome h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: var(--cor-branco);
    margin: 0PX;
}

.tituloprincipal .sobrenome h2 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: var(--cor-branco);
    margin: 0px;
}

.tituloprincipal .cargo h3 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--cor-cinzaclaro);
    margin: 0px;
    margin-top: 10PX;
}

/*Fim pagina inicial*/