
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-cinza: #727272;
    --cor-cinzaescuro: #1E1E1E;
    --cor-cinzaclaro: #A8A8A8;
    --cor-vermelho: #bc032c;

}

body{
    background-color: var(--cor-preto);
    height: 100%;
    overflow-x: hidden;
}

/* =================== */

/* LINK TOPO */

html {
    scroll-behavior: smooth;
}


.linktopo{
    text-decoration: none;
    background-color: var(--cor-preto);
    border: solid 0.5px var(--cor-vermelho);
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    width: 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.2s;
}

.linktopo:hover{
    width: 2.7vw;
    height: 5.4vh;
    border: solid 2px var(--cor-vermelho);
}

.linktopo img{
    width: 1.5vw;
    height: 3vh;
    transition: all linear 0.2s;
}

.linktopo img:hover{
    width: 1.8vw;
    height: 4vh;
}

/* FIM LINK TOPO */

/* SCROLL */

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
}

section.teste {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}


/* SROLLBAR */
 
::-webkit-scrollbar {
    width: 0;
}

/* FIM SROLLBAR */

/* FIM SCROLL */

/* ================================== */

/*Pagina inicial*/

/*TITULO E FOTO*/

.fotoinicial{
    position: absolute; 
    left: 19%;
    top: 8%;
    width: 0px;
    height: 0px;
}

.fotoinicial img {
    width: 80vh;
    height: 38vw;;
    object-fit: contain;
}

.titulo{
    position: absolute;
    top: 33%;
    left: 42.5%;
    width: 0px;
    height: 0px;
}

.titulo1{
    position: absolute;
    top: 45%;
    left: 25.7%;
    width: 0px;
    height: 0px;
}

.titulo2{
    position: absolute;
    top: 61%;
    left: 39%;
    width: 0px;
    height: 0px;
}

.titulo h1{
    color: var(--cor-vermelho);
    position: absolute;
    font-size: 4vw;
    font-weight: 300;
}

.titulo1 h2{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cor-branco);
    position: absolute;
    font-size: 9.5vw;
    font-weight: 900;
}



.titulo2 p{
    color: var(--cor-branco);
    position: absolute;
    font-size: 2vw;
    font-weight: 400;
    white-space: nowrap;
}

/* FIM TITULO E FOTO*/

/*REDE SOCIAL*/

section.social{
    position: absolute;
    padding: 0 1.5%;
    top: 38vh;
    left: 0vw;
}

section.social img{
    display: block;
    width: 2.3vw;
    margin: 2vh 0;
    z-index: 99;
    transition: all linear 0.1s;
}

section.social img:hover{
    width: 2.5vw;
}

/* FIM REDE SOCIAL*/

/*FUNDO*/

section#inicial {
    background-image: url(../img/FUNDOGC.png);
    background-size: cover;
    background-position: center;

}

section.preto {
    background-color: #0000005c;
    width: 100%;
    height: 100vh;
}

/* SETA */
section.seta .seta a{
    width: 2vw;
    height: 5vh;
    position: absolute;
    bottom: 1vh;
    right: 49vw;
    background-image: url(../img/seta.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: setabaixo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setabaixo{
    0%{
        bottom: 5vh;
    }

    100%{
        bottom: 2vh;
    }

}
/* FIM SETA */

/* FIM FUNDO*/

/* FIM PAGINA INICIAL*/

/* ================================== */

/*PAGINA SOBRE*/

/* FOTO */

.fotosobre{
    position: absolute; 
    left: 62%;
    margin: 1% 0;
    width: 0px;
    height: 0px;
}

.fotosobre img{
    width: 38vw;
    height: 94vh;
    object-fit: contain;
}
/* FIM FOTO */

/* TITULO */
.barrinha{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 1vw;
    height: 6vh;
    left: 9vw;
    margin-top: 9.5vh;
    transition: all linear 0.1s;
}

.textosobre h2{
    color: var(--cor-branco);
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    left: 10.5%;
    margin-top: 6vh;
    transition: all linear 0.1s;
}

/* FIM TITULO */

/* TEXTO */
.textosobre p{
    color: var(--cor-cinzaclaro);
    position: absolute;
    font-size: 1.5vw;
    font-weight: 300;
    left: 9%;
    margin-top: 9%;
    max-width: 52%;
}
/* FIM TEXTO */

/* BARRAS */
.textolinguas{
    color: var(--cor-branco);
    font-size: 1.5vw;
    font-weight: 400;
    position: absolute;
    margin-top: 50vh;
    left: 9vw;
}

.textolinguas h3{
    font-weight: 500;
    padding: 1vh 0;
}

.textolinguas h3{
    font-weight: 500;
    padding: 1vh 0;
}

.barras{
    display: grid;
    position: absolute;
    margin-top: 49vh;
    left: 15vw;
}

.barras img{
    width:42vw;
    height: 10vh;
}

.barras .bhtml{
    margin-top: -2.5vh;
}

.barras .bcss{
    margin-top: -2.8vh;
}
/* FIM BARRAS */

/* BOTAO */
section.bsobre {
    position: absolute;
    display: grid;
    margin-top: 80vh;
    left: 11vw;
}

.bcontato {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-vermelho);
    width: 13vw;
    height: 12vh;
    transition: all linear 0.4s;
}

.bcontato a {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 2vw;
    font-weight: 500;
}

.bcontato:hover{
    background-color: var(--cor-preto);
    border: solid 1px var(--cor-vermelho);
}

.bcuriculo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--cor-preto);
    border: solid 1px var(--cor-vermelho);
    width: 15vw;
    height: 12vh;
    left: 17vw;
    transition: all linear 0.4s;
}

.bcuriculo a {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 2vw;
    font-weight: 500;
}

.bcuriculo:hover{
    background-color: var(--cor-vermelho);
    border: none;
}
/* FIM BOTAO */

/* FIM PAGINA SOBRE */

/* ================================== */

/* PAGINA PORTIFOLIO */

/* TITULO */
.barrinha{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 1vw;
    height: 6vh;
    left: 9vw;
    margin-top: 9.5vh;
}


.textoportifolio h2{
    color: var(--cor-branco);
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    left: 10.5%;
    margin-top: 6vh;
}
/* FIM TITULO */

/* TEXTO */
.textoportifolio p{
    color: var(--cor-cinzaclaro);
    position: absolute;
    font-size: 1.6vw;
    font-weight: 300;
    left: 9vw;
    margin-top: 19vh;
    max-width: 80%;
}
/* FIM TEXTO */

/* SUBTITULO */

.subtituloportifolio h3{
    color: var(--cor-branco);
    position: absolute;
    font-size: 2.5vw;
    font-weight: 400;
    left: 9.5%;
    margin-top: 46vh;
}

.sublinhado{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 19vw;
    height: 0.5vh;
    left: 9.5vw;
    margin-top: 54vh;
}

/* FIM SUBTITULO */

/* BOX PORTIFOLIO */

/* BOX */
.boxportifolio{
    background-color: var(--cor-cinzaescuro);
    border-left: solid 0.3vw var(--cor-cinzaescuro);
    border-top: solid 0.3vw var(--cor-cinzaescuro);
    border-bottom: solid 0.3vw var(--cor-cinzaescuro);
    border-right: solid 0.3vw var(--cor-cinzaescuro);
    width: 25vw;
    height: 30vh;
    position: absolute;
    left: 10vw;
    margin-top: 61vh;
    transition: all linear 0.4s;
}

.boxportifolio:hover{
    border: solid 0.3vw var(--cor-vermelho);
}

.bportifolio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--cor-preto);
    border: solid 0.2vw var(--cor-vermelho);
    width: 3.5vw;
    height: 7vh;
    left: -1vw;
    margin-top: 3vh;
    transition: all linear 0.2s;
}

.bportifolio:hover{
    background-color: var(--cor-vermelho);
    border: none;
}

.bportifolio svg{
    width: 2vw;
    height: 4vh;
    color: var(--cor-branco);
}

.bportifolio svg g{
    fill: var(--cor-branco);
}

.boxportifolio:nth-last-child(1){
    left: 39vw;
}

.boxportifolio:nth-last-child(2){
    left: 68vw;
}
/* FIM BOX */

.boxportifolio h2{
    position: absolute;
    font-size: 3vw;
    font-weight: 400;
    left: 15.5%;
    margin-top: 0vh;
    transition: all linear 0.2s;
}

.hportifolio {
    color: var(--cor-branco);
}

.hportifolio:hover{
    color: var(--cor-vermelho);
}


.boxportifolio h3{
    color: var(--cor-vermelho);
    position: absolute;
    font-size: 1.3vw;
    font-weight: 400;
    left: 3.8vw;
    margin-top: 7.5vh;
}

.boxportifolio p{
    color: var(--cor-cinzaclaro);
    position: absolute;
    font-size: 1.5vw;
    font-weight: 300;
    left: 2vh;
    margin-top: 23vh;
}
/* FIM BOX PORTIFOLIO */

/* FIM PAGINA PORTIFOLIO */

/* ================================== */

/* PAGINA CONTATO */

.barrinha{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 1vw;
    height: 6vh;
    left: 9vw;
    margin-top: 9.5vh;
}

.textocontato h2{
    color: var(--cor-branco);
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    left: 10.5%;
    margin-top: 6vh;
}

.subtitulo h3{
    color: var(--cor-cinzaclaro);
    position: absolute;
    font-size: 1.6vw;
    font-weight: 300;
    left: 9vw;
    margin-top: 18vh;
    max-width: 35%;
}

/* BOX CONTATO */
.fundocontato{
   /* background-color: var(--cor-cinzaescuro);*/
    position: absolute;
    width: 43vw;
    height: 59vh;
    margin-top: 31vh;
    left: 9vw;
}

.barrinhacontato{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 0.5vw;
    height: 6vh;
    left: 12vw;
    margin-top: 35vh;
}

.barrinhacontato1{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 0.5vw;
    height: 6vh;
    left: 12vw;
    margin-top: 45vh;
}

.barrinhacontato2{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 0.5vw;
    height: 6vh;
    left: 12vw;
    margin-top: 55vh;
}

.barrinhacontato3{
    background-color: var(--cor-vermelho);
    position: absolute;
    width: 0.5vw;
    height: 6vh;
    left: 12vw;
    margin-top: 65vh;
}

.caixatexto{
    background-color: var(--cor-branco);
    border-radius: 10px;
    position: absolute;
    width: 22vw;
    height: 6vh;
    left: 13vw;
    margin-top: 35vh;
    display: flex;
    align-items: center;
}

.caixatexto:nth-last-child(1){
    margin-top: 45vh;
    width: 30vw;
}

.caixatexto:nth-last-child(2){
    margin-top: 55vh;
    width: 26vw;
}

.caixatexto:nth-last-child(3){
    margin-top: 65vh;
    width: 23vw;
}

.caixatexto h3{
    font-size: 1.3vw;
    font-weight: 500;
    left: 1vw;
    position: absolute;
}

.socialcontato{
    position: absolute;
    padding: 0 1.5%;
    left: 10vw;
    margin-top: 77vh;
}

.socialcontato img{
    display: inline-block;
    width: 2.8vw;
    margin: 0 1.5vh;
    z-index: 99;
    transition: all linear 0.2s;
}

.socialcontato img:hover{
    width: 3.2vw;
}


/* FIM BOX CONTATO */

.barrinhadivisao{
    background-color: var(--cor-vermelho);
    position: absolute;
    height: 60vh;
    width: 0.1vw;
    margin-top: 31vh;
    left: 48vw;
}

/* E-MAIL */

.email{
    position: absolute;
    right: 43vw;
    margin-top: 35vh

}

.boxnome{
    position: absolute;
    background: var(--cor-cinzaescuro);
    border: solid 1px var(--cor-cinza);
    margin-top: 0vh;
    height: 6.5vh;
    width: 31vw;
    font-size: 1.3vw;
    color: var(--cor-branco);
}

.boxemail{
    position: absolute;
    background: var(--cor-cinzaescuro);
    border: solid 1px var(--cor-cinza);
    margin-top: 10vh;
    height: 6.5vh;
    width: 31vw;
    font-size: 1.3vw;
    color: var(--cor-branco);
}

.boxmensagem{
    position: absolute;
    background: var(--cor-cinzaescuro);
    border: solid 1px var(--cor-cinza);
    margin-top: 20vh;
    height: 19vh;
    width: 31vw;
    font-size: 1.3vw;
    color: var(--cor-branco);
}

.boxbotao{
    background: var(--cor-vermelho);
    border: solid 1px var(--cor-preto);
    position: absolute;
    margin-top: 43vh;
    left: 11vw;
    height: 8vh;
    width: 11vw;
    font-size: 1.6vw;
    color: var(--cor-branco);
    transition: all linear 0.2s;
}

.boxbotao:hover{
    background-color: var(--cor-preto);
    border: solid 1px var(--cor-vermelho);
}

/* FIM E-MAIL */

/*=========================================================================================
===========================================================================================
=========================================================================================*/

/* MOBILE */
@media (max-width: 1000px){
    /* LINK TOPO */

.linktopo{
    text-decoration: none;
    background-color: var(--cor-preto);
    border: solid 0.5px var(--cor-vermelho);
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    width: 6vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.2s;
}

.linktopo:hover{
    width: 6vw;
    height: 4,5vh;
    border: solid 2px var(--cor-vermelho);
}

.linktopo img{
    width: 3vw;
    height: 3vh;
    transition: all linear 0.2s;
}

.linktopo img:hover{
    width: 3vw;
    height: 3vh;
}

/* FIM LINK TOPO */

/* ---------------------------------------------------------- */

/*Pagina inicial*/

/*TITULO E FOTO*/

.fotoinicial{
    position: absolute; 
    left: 19vw;
    top: 8vh;
    width: 0px;
    height: 0px;
}

.fotoinicial img {
    width: 10vw;
    height: 10vh;;
    object-fit: contain;
}

.titulo{
    position: absolute;
    top: 37vh;
    left: 40vw;
    width: 0px;
    height: 0px;
}

.titulo1{
    position: absolute;
    top: 46vh;
    left: 17vw;
    width: 0px;
    height: 0px;
}

.titulo2{
    position: absolute;
    top: 58vh;
    left: 27vw;
    width: 0px;
    height: 0px;
}

.titulo h1{
    color: var(--cor-vermelho);
    position: absolute;
    font-size: 6vw;
    font-weight: 300;
}

.titulo1 h2{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cor-branco);
    position: absolute;
    font-size: 13vw;
    font-weight: 900;
}

.titulo2 p{
    color: var(--cor-branco);
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    white-space: nowrap;
}

/* FIM TITULO E FOTO*/

/*REDE SOCIAL*/

section.social{
    position: absolute;
    padding: 0 1.5%;
    top: 2vh;
    right: 0vw;
}

section.social img{
    display: inline-block;
    width: 4vw;
    margin: 0 1vw;
    z-index: 99;
    transition: all linear 0.1s;
}

section.social img:hover{
    width: 4.5vw;
}

/* FIM REDE SOCIAL*/

/*FUNDO*/

section#inicial {
    background-image: url(../img/FUNDOGC.png);
    background-size: cover;
    background-position: center;

}

section.preto {
    background-color: #0000005c;
    width: 100%;
    height: 100vh;
}

/* SETA */
section.seta .seta a{
    width: 5vw;
    height: 5vh;
    position: absolute;
    bottom: 1vh;
    right: 49vw;
    background-image: url(../img/seta.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: setabaixo;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setabaixo{
    0%{
        bottom: 5vh;
    }

    100%{
        bottom: 2vh;
    }

}
/* FIM SETA */

/* FIM FUNDO*/

/* FIM PAGINA INICIAL*/

}

